.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black; /* Set background to black */
  padding: 15px 30px; /* Increase padding for more height */
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
}

.p-link {
  color: white;
  text-decoration: none;
  margin-right: auto;
  transition: color 0.3s ease;
  font-size: 28px; /* Increased font size for better visibility */
  position: relative; /* Positioning context for the underline */
}

.p-link:hover {
  color: teal; /* Change color on hover */
}

/* Underline effect for p-link */
.p-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: teal;
  transition: width 0.3s ease;
  position: absolute;
  left: 0;
  bottom: -5px; /* Position the underline below the text */
}

.p-link:hover::after {
  width: 100%; /* Underline expands on hover */
}

.s-link {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  position: relative; /* Positioning context for the underline */
  transition: color 0.3s ease;
  font-size: 24px; /* Adjust font size for s-link */
}

.s-link:hover {
  color: teal; /* Change color on hover */
}

/* Underline effect for s-link */
.s-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: teal;
  transition: width 0.3s ease;
  position: absolute;
  left: 0;
  bottom: -5px; /* Position the underline below the text */
}

.s-link:hover::after {
  width: 100%; /* Underline expands on hover */
}

.logo-image {
  width: 200px; /* Adjusted image size */
  height: auto; /* Maintain aspect ratio */
  margin: 0 20px; /* Space around the image */
}

body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.plan-cont{
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  height: 500px;
  box-shadow: 10px 10px grey;
  transition: transform 0.3s ease-in-out;
}
.plan-cont:hover{
  transform: translateY(-5px);
}
.plan-style{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.plan-cont li{
  text-align: left;
}


